{
  "admins": [
    {
      "key": "admin01",
      "firstName": "",
      "lastName": "",
      "email": "",
      "password": "",
      "homePath": "/dashboard"
    }
  ],
  "employees": [
    {
      "key": "employee01",
      "firstName": "",
      "lastName": "",
      "email": "",
      "password": "",
      "homePath": "/dashboard"
    }
  ],
  "sales": [
    {
      "key": "sale01",
      "firstName": "",
      "lastName": "",
      "email": "",
      "password": "",
      "homePath": "/dashboard"
    }
  ]
}